.cadastro{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 28px;
    padding-top: 25px;

}



body{
    background-image:url('https://swall.teahub.io/photos/small/164-1644389_honor-8-color-blue.jpg');
    background-repeat: no-repeat;
    background-size:2400px 1000px ;    
    
}



.filha1{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.filha2{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.filha3{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.filha4{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

input{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(2, 9, 27);
    border-color: white;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    
}
.quadradinho{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(2, 9, 27);
    border-color: white;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    
}

.oiduda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.termos{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: 500PX;
}



.amigoDuda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


label{

    border-bottom: 10px;
    border-color: white;

}

.concluir{

    background-color: transparent;
    color: white;   
    border-color: white;
    font-size: 16px;
    margin-top: 15px;
}
