.fundopombagoura {
        
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to right, rgb(26, 2, 46) , rgb(0, 0, 0));
    
    }

.texto1{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    line-height: 45px;
    text-align: justify;
    width: 80%;
}

.texto2{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    line-height: 45px;
    text-align: justify;
    width: 80%;
}


.pomba{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-left: 20px;

}


.texto3{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17.8px;
    margin-top: 0px;
    margin-left: 10px;
    line-height: 20px;
    text-align: justify;
    width: 80%;
}


.texto4{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    line-height: 45px;
    text-align: justify;
}

.texto5{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 45px;
    text-align: justify;
    width: 65%;
}

.texto6{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    margin-left: 10px;
    line-height: 45px;
    text-align: justify;
    width: 60%;
}

.alinhamento{

    display: flex;
    flex-direction: row;

}

.alinhamento2{

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    
}

.pru5{

    margin-bottom: -10px;
    margin-top: 48px;

}

.pru6{

    margin-top: 133px;

}

.pru3{


    margin-left: 9px;

}

.alinhamento3{

    display: flex;
    flex-direction: row;
    
}

.alinhamento4{

    display: flex;
    flex-direction: row;
    
}

.img34{

    display: flex;
    flex-direction: column;
    margin-bottom:20px ;
}

.foot1{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 60px;
}

.foot2{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    margin-left: 63px;
    margin-top: 25px;
}

.foot3{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: -136px;
    margin-left: 800px;
}

.foot4{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    margin-left: 801px;
    margin-top: 25px;
}

.foot5{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: -136px;
    margin-left: 1500px;
}

.foot6{

    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
    margin-left: 1500px;
    margin-top: 25px;
}